<div class="ui middle aligned selection divided list container">
  <h1>Warenkorb</h1>

  <div *ngIf="exist() == true" style="margin-bottom: 1rem">
    <div *ngFor="let card of this.getBooks()" class="ui horizontal segments">
      <div class="ui segment">
      <div class="ui checked checkbox">
        <input type="checkbox" checked="">
        <label>{{card.id}}</label>
      </div>
      </div>
      <div class="ui segment">
        <p>{{card.title}}</p>
      </div>
      <div *ngIf="card.subtitle" class="ui segment">
        <p>{{card.subtitle}}</p>
      </div>
      <div class="ui segment">
        <p>ISBN: {{card.isbn}}</p>
      </div>
      <div class="ui segment">
        <p>€ {{card.price}} / Stück</p>
      </div>
      <div class="ui segment">
        <p>Anzahl: {{card.amount}}</p>
        <div class="ui buttons">
          <button class="ui button" (click)="minus(card)">-</button>
          <div class="or"></div>
          <button class="ui positive button" (click)="add(card)">+</button>
        </div>
      </div>
    </div>
    <div *ngIf="isLoggedIn() && tax" >
    <div class="ui secondary segment">
      <p>Gesammtpreis Netto: € {{ getNetto() }}</p>
    </div>
    <div class="ui secondary segment">
      <p>MwSt.: {{ tax.brutto }} %</p>
    </div>
    <div class="ui secondary segment">
      <p>Gesammtpreis Brutto: <span class="ui green header">€ {{ getBrutto() }}</span></p>
    </div>
    </div>

    <button *ngIf="isLoggedIn()" class="ui tiny green button labeled icon" (click)="bestellen()"><i class="cart arrow down icon"></i>
      bestellen
    </button>
    <button class="ui tiny red button labeled icon" (click)="delete()"><i class="remove icon"></i>
      löschen
    </button>
  </div>

  <div *ngIf="exist() == false">
  <p>
    Es sind keine Bestellungen vorhanden!
  </p>
  </div>


</div>