<div class="ui {{isLoggedIn()?'seven':'four'}} menu">
  <a routerLink="home" routerLinkActive="active" class="item"><i class="home icon"></i>Home</a>
  <a routerLink="books" routerLinkActive="active" class="item"><i class="book icon"></i>Bücher</a>
  <a *ngIf="isAdmin() == true" routerLink="admin" routerLinkActive="active" class="item"><i class="cog icon"></i>Administration</a>
  <a *ngIf="isAdmin() == true" routerLink="allorders" routerLinkActive="active" class="item"><i class="tasks icon"></i>Bestellübersicht</a>
  <a *ngIf="isLoggedIn()" routerLink="myorders" routerLinkActive="active" class="item"><i class="shipping fast icon"></i>Meine Bestellungen</a>
  <div class="right menu">
    <!--<div class="item" routerLink="books">
      <div class="ui icon input">
        <input type="text" placeholder="Buch suchen...">
        <i class="search link icon"></i>
      </div>
    </div>-->
    <a routerLink="card" routerLinkActive="active" class="ui item"><i class="shopping cart icon"></i>Warenkorb</a>
    <a routerLink="login" routerLinkActive="active" class="ui item"><i class="{{isLoggedIn()?'sign-out':'sign-in'}} icon"></i>{{getLoginLabel()}}</a>
  </div>
</div>

<router-outlet></router-outlet>