
<div *ngIf="!isLoggedIn()">
  <div class="ui container segment">
  <h1>Login</h1>
  <form  class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label>E-Mail</label>
      <!-- wenn username nicht valide ist oder dirty oder touched oder required nicht erfüllt, dann zeigt er uns das an
       und schreibt errormeldung. validator für email-->
      <input type="email" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username').invalid &&
     (loginForm.get('username').dirty || loginForm.get('username').touched) &&
     loginForm.get('username').hasError('required')" class="ui negative message">
        Benutzername ist verpflichtend </div>
      <div *ngIf="loginForm.get('username').invalid &&
     (loginForm.get('username').dirty || loginForm.get('username').touched) &&
     loginForm.get('username').hasError('email')" class="ui negative message">
        E-Mail Format überprüfen </div>
    </div>
    <div class="field">
      <label>Passwort</label>
      <!-- das gleiche wie bei email. validierung. überprüft eingabe.-->
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password').invalid &&
     (loginForm.get('password').dirty || loginForm.get('password').touched)" class="ui negative message">
        Passwort ist verpflichtend </div>
    </div>

    <button type="submit" class="ui button" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
</div>

<div *ngIf="isLoggedIn()">
  <div class="ui container">
  <h1>Logout</h1>
  <p>Sind Sie sicher, dass Sie sich ausloggen möchten?</p>
  <button type="button" class="ui button" (click)="logout()">Logout</button>
</div>
</div>