<div class="ui middle aligned selection divided list container">
  <h1>Meine Bestellungen</h1>


  <div *ngFor="let order of orders" class="ui segments" style="margin-bottom: 3rem">
    <div class="ui horizontal segments">
    <div class="ui segment">
      <p>Bestell-ID: {{ order.id }}</p>
    </div>
    <div class="ui segment">
      <p>Zeitpunkt: {{ order.created_at }}</p>
    </div>
    </div>

    <div class="ui segment">
      Lieferadresse: {{ getAddress(order.user_id) }}
    </div>

    <div class="ui secondary segment">

      <div class="ui ordered steps">
        <div *ngFor="let status of order.statuses" class="completed step">
          <div class="content">
            <div class="title">{{ status.bezeichnung }}</div>
            <div class="description">{{ status.kommentar }}</div>
          </div>
        </div>

      </div>

    </div>

    <div class="ui segments">
      <div *ngFor="let ordersposition of order.ordersposition" class="ui horizontal segments">
        <div class="ui segment">
          <p>Bestellposition-ID: {{ ordersposition.book_id }}</p>
        </div>
        <div class="ui segment">
          <p>Buch {{ ordersposition.book_id }}</p>
        </div>
        <div class="ui segment">
          <p> {{ getTitle(ordersposition.book_id)}} </p>
        </div>
        <div class="ui segment">
          <p>{{ getSubtitle(ordersposition.book_id)}}</p>
        </div>
        <div class="ui segment">
          <p>{{ getISBN(ordersposition.book_id)}}</p>
        </div>
        <div class="ui segment">
          <p>€ {{ordersposition.price}} / Stück</p>
        </div>
        <div class="ui segment">
          <p>Nettogesammtpreis: € {{getPriceWithAmount(ordersposition.price, ordersposition.amount)}}</p>
        </div>
        <div class="ui segment">
          <p>Anzahl: {{ ordersposition.amount }}</p>
          <button *ngIf=" getLastStatus(order.id) == 'offen' " class="ui tiny yellow button labeled icon" (click)="editOrdersposition(ordersposition)">
            <i class="write icon"></i>
            Anzahl bearbeiten
          </button>
          <button *ngIf=" getLastStatus(order.id) == 'offen' " class="ui tiny red button labeled icon" (click)="deleteOrdersposition(ordersposition)">
            <i class="remove icon"></i>
            Bestellposition löschen
          </button>
        </div>
      </div>
    </div>

    <div class="ui secondary segment">
      <p>Gesammtpreis Netto: € {{getNetto(order.id)}}</p>
    </div>
    <div class="ui secondary segment">
      <p>MwSt.: {{ order.brutto }} %</p>
    </div>
    <div class="ui secondary segment">
      <p>Gesammtpreis Brutto: <span class="ui green header">€ {{getBrutto(order.id)}}</span></p>
    </div>

    <div class="ui secondary segment">
      <button *ngIf=" getLastStatus(order.id) == 'offen' " class="ui tiny green button labeled icon" (click)="bezahlen(order.id)"><i class="euro sign icon"></i>
        bezahlen
      </button>
      <button *ngIf=" getLastStatus(order.id) == 'offen' " class="ui tiny red button labeled icon" (click)="removeOrder(order.id)"><i class="remove icon"></i>
        Bestellung löschen
      </button>
      <button *ngIf=" getLastStatus(order.id) == 'bezahlt' " class="ui tiny red button labeled icon" (click)="storno(order.id)"><i class="remove icon"></i>
        Bestellung stornieren
      </button>
    </div>
  </div>





  <div *ngIf="!orders" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>

  <p *ngIf="orders && !orders.length">
    Es sind keine Bestellungen vorhanden!
  </p>


</div>