<div class="ui container segment">
<div class="ui grid" *ngIf="book">
  <div class="six wide column">
    <img class="ui large image" style="margin-bottom: 1rem" *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">

    <button *ngIf="authService.getAdminFlag() == true" class="ui tiny yellow button labeled icon" [routerLink]="['../../admin', book?.isbn]">
      <i class="write icon"></i>
      Buch bearbeiten
    </button>

    <button *ngIf="authService.getAdminFlag() == true" class="ui tiny red button labeled icon" (click)="removeBook()"><i class="remove icon"></i>
      Buch löschen</button>
  </div>
  <div class="ten wide column">
    <h1 class="ui header">{{ book.title }}</h1>
    <h3 class="ui header">{{ book.subtitle }}</h3>
    <div class="metadata">
      von <span *ngFor="let author of book.authors; last as l">
        {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
      </span><span>, erschienen am {{ book.published }}</span>
    </div>
    <div class="extra">ISBN: {{ book.isbn }}</div>
    <div style="padding: 1rem 0"><i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i></div>


    <div class="ui divider"></div>
    <div class="sixteen wide column">
      <h3 class="ui header">Preis</h3>
      <h2 class="ui green header">€ {{ book.price }}</h2>
      <button class="ui tiny green button labeled icon" (click)="save()"><i class="shopping cart icon"></i>
        in den Warenkorb</button>
    </div>

  </div>


  <div class="sixteen wide column">
    <div class="ui divider"></div>
    <div class="ui small images">
      <img *ngFor="let thumbnail of book.images" [src]="thumbnail.url">
    </div>


  </div>

  <div class="sixteen wide column">
  <div class="ui divider"></div>

  <h3 class="ui header">Produktdetails</h3>

  <table class="ui very basic collapsing celled padded table">
    <tbody>
    <tr>
      <td>
        <h3 class="ui header">Titel</h3>
      </td>
      <td>
        {{ book.title }}
      </td>
    </tr>
    <tr *ngIf="book.subtitle">
      <td>
        <h3 class="ui header">Untertitel</h3>
      </td>
      <td>
        {{ book.subtitle }}
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="ui header">ISBN</h3>
      </td>
      <td>
        {{ book.isbn }}
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="ui header">Beschreibung</h3>
      </td>
      <td>
        {{ book.description }}
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="ui header">Autoren</h3>
      </td>
      <td class="single line">
            <span *ngFor="let author of book.authors; last as l">
            {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
            </span>
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="ui header">Erscheinungsdatum</h3>
      </td>
      <td>
        {{ book.published }}
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="ui header">Preis</h3>
      </td>
      <td>
        {{ book.price }}
      </td>
    </tr>
    </tbody>
  </table>
  </div>

</div>

<!-- Zurück Button
<button class="ui red button" [routerLink]="'/books'">Zurück zu Liste</button>-->

</div>


<div id="pop-up-same" class="ui inverted segment" style="position: fixed; bottom: 1rem; right: 25%; visibility: hidden">
  <p>Das Buch wurden in den Warenkorb hinzugefügt!</p>
</div>
<div id="pop-up-notsame" class="ui inverted segment" style="position: fixed; bottom: 1rem; right: 25%; visibility: hidden">
  <p>Das Buch wurden in den Warenkorb hinzugefügt! Die Anzahl wurde um 1 erhöht!</p>
</div>